<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'Accept',  accept_friend_request_path(user), method: :post, class: 'btn btn-primary' %>
    <%= link_to 'Reject', reject_friend_request_path(user), method: :post, class: 'btn btn-danger' %>

  </span>
</li>
